.intro-container {
  position: relative;
  height: 100vh;
  background-image: url("../img/bg_canada_train.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .intro-container .profile-container {
    color: #3a3a3a;
    padding: 1rem;
    background-color: rgba(239, 239, 239, 0.5);
    overflow: hidden; }
    @media screen and (max-width: 719px) {
      .intro-container .profile-container {
        position: relative;
        height: 100vh;
        width: 100%; } }
    @media screen and (min-width: 720px) {
      .intro-container .profile-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .intro-container .profile-container .profile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      @media screen and (max-width: 719px) {
        .intro-container .profile-container .profile {
          position: absolute;
          top: 50%;
          transform: translateY(-50%); } }
      @media screen and (min-width: 720px) {
        .intro-container .profile-container .profile {
          flex-direction: row; } }
      .intro-container .profile-container .profile .profile-image {
        max-height: 250px;
        max-width: 250px;
        border-radius: 50%;
        overflow: hidden;
        flex: 1 0 auto; }
        @media screen and (max-width: 719px) {
          .intro-container .profile-container .profile .profile-image {
            margin-bottom: 1rem; } }
        .intro-container .profile-container .profile .profile-image img {
          height: 100%;
          transform: translateX(-25%); }
      .intro-container .profile-container .profile .profile-description {
        min-width: 300px;
        padding: 1rem; }
        @media screen and (max-width: 719px) {
          .intro-container .profile-container .profile .profile-description {
            max-height: 250px; } }
        .intro-container .profile-container .profile .profile-description .title h1 {
          color: #3a3a3a;
          margin-bottom: 16px; }
        @media screen and (max-width: 719px) {
          .intro-container .profile-container .profile .profile-description .content {
            max-height: 200px;
            overflow-y: auto; } }
        .intro-container .profile-container .profile .profile-description .content p {
          margin-bottom: 8px; }
  .intro-container .portfolio-btn {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
    padding: 1rem;
    font-weight: 600;
    color: #01579B;
    background-color: rgba(239, 239, 239, 0.5);
    transition: color 0.2s, background-color 0.2s; }
    @media screen and (max-width: 719px) {
      .intro-container .portfolio-btn {
        display: none; } }
    .intro-container .portfolio-btn:hover {
      cursor: pointer;
      color: #0277BD;
      background-color: rgba(239, 239, 239, 0.75); }

.portfolio-container {
  position: relative;
  height: 100vh;
  background-color: #efefef;
  color: #8a8a8a; }
  @media medium-width {
    .portfolio-container {
      padding: 1rem; } }
  .portfolio-container .recent-work {
    padding: 20px;
    overflow: hidden; }
    @media screen and (max-width: 719px) {
      .portfolio-container .recent-work {
        height: 100vh; } }
    @media screen and (min-width: 720px) {
      .portfolio-container .recent-work {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 90%;
        width: 90%;
        min-width: calc(250px + 2 * 20px); } }
    .portfolio-container .recent-work h1 {
      width: 300px;
      margin: 0 auto;
      color: #6f6f6f;
      font-size: 42px;
      margin-bottom: 2rem;
      text-align: center; }
    .portfolio-container .recent-work .work-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      margin: 0 .5rem;
      padding: 2rem 1rem;
      overflow-x: hidden; }
      @media screen and (max-width: 719px) {
        .portfolio-container .recent-work .work-list {
          max-height: 90%;
          overflow-y: auto; } }
      @media screen and (min-width: 720px) {
        .portfolio-container .recent-work .work-list {
          max-height: 650px;
          background-color: #caebf2; } }
      .portfolio-container .recent-work .work-list .work-item {
        max-width: 280px;
        flex: 0 0 auto;
        margin-bottom: 1rem;
        padding: 0 1rem;
        border-radius: 5px; }
        .portfolio-container .recent-work .work-list .work-item h3 {
          margin-bottom: 1rem;
          font-size: 25px;
          color: #6f6f6f; }
        .portfolio-container .recent-work .work-list .work-item p {
          overflow-y: auto;
          margin-bottom: 1rem; }
        .portfolio-container .recent-work .work-list .work-item a {
          text-align: center;
          background-color: #75d18d;
          color: white;
          padding: .5rem .25rem;
          transition: background-color .2s linear; }
          .portfolio-container .recent-work .work-list .work-item a:hover {
            background-color: #75c28d; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: 'Montserrat', 'Open Sans', 'Arial';
  height: 100vh;
  width: 100%;
  min-width: 300px; }

body * {
  display: block; }

a {
  color: #01579B;
  text-decoration: none;
  transition: color 0.2s; }
  a:hover {
    color: #0277BD; }

p {
  white-space: normal;
  word-break: normal;
  line-height: 1.25; }

.content {
  overflow: hidden; }

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background-color: #B1B1B1; }

::-webkit-scrollbar-track {
  background-color: #B1B1B1; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3a3a3a;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=styles.css.map */
