.footer {
    padding: 1rem 2rem;
    background-color: #1B1B1B;
    color: $light-gray;

    .info {
        margin-bottom: .5rem;
    }
    .social-media {
        .social-media-link {
            display: inline-block;
            img {
                height: 24px;
            }
        }
    }
}