.intro-container {
    position: relative;
    height: 100vh;
    
    @media #{$mobile-width} {
        background-color: $dark-blue;
        color: $light-gray;
    }

    @media #{$medium-width} {
        background-image: url("../img/profile_pic.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .profile-container {
        position: relative;
        height: 100vh;
        width: 100%;        
        color: $light-gray;
        padding: 1rem;
        background-color: rgba(24, 84, 127, 0.7);
        overflow: hidden;

        .profile {
            @media #{$mobile-width} {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            @media #{$medium-width} {
                position: absolute;
                top: 50%;
                left: 10%;
                width: 80%;
                transform: translateY(-50%);
            }
            
            .profile-image {
                max-height: 250px;
                max-width: 250px;
                border-radius: 50%;
                overflow: hidden;
                flex: 1 0 auto;

                @media #{$mobile-width} {
                    margin-bottom: 1rem;
                }

                @media #{$medium-width} {
                    display: none;
                }

                img {
                    height: 100%;
                    transform: translateX(-25%);
                }
            }

            .profile-description {
                min-width: 300px;
                padding: 1rem;

                @media #{$mobile-width} {
                    max-height: 250px;
                }

                .title {
                    h1 {
                        color: $light-gray;
                        margin-bottom: 16px;
                        font-size: 2.5rem;
                    }
                }
                .content {
                    @media #{$mobile-width} {
                        max-height: 35%;
                        overflow-y: auto;
                    }

                    p {
                        font-size: 1.2rem;
                        margin-bottom: 8px;

                        &:last-of-type {
                            a {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .portfolio-btn {
        position: absolute;
        left: 50%;
        bottom: 2%;
        transform: translateX(-50%);
        padding: 1rem;
        font-weight: 600;
        color: $dark-blue;
        background-color: rgba(239, 239, 239, 0.25);
        transition: color 0.2s, background-color 0.2s;
        
        @media #{$mobile-width} {
            display: none;
        }
            
        &:hover {
            cursor: pointer;
            background-color: rgba(239, 239, 239, 0.4);
        }
    }
}