.portfolio-container {
    position: relative;
    height: 100vh;
    background-color: $light-gray;
    color: $light-text;

    @media #{medium-width} {
        padding: 1rem;
    }

    .recent-work {
        padding: 20px;
        overflow: hidden;

        @media #{$mobile-width} {
            height: 100vh;
        }

        @media #{$medium-width} {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 90%;
            width: 90%;
            min-width: calc(250px + 2 * 20px); // title + padding both sides
        }

        h1 {
            width: 300px;
            margin: 0 auto;
            color: #6f6f6f;
            font-size: 42px;
            margin-bottom: 2rem;
            text-align: center;
        }
        .work-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            margin: 0 .5rem;
            padding: 2rem 1rem;
            overflow-x: hidden;

            @media #{$mobile-width} {
                max-height: 90%;
                overflow-y: auto;
            }
            @media #{$medium-width} {
                max-height: 650px;
                background-color: rgba(202, 235, 242, 1);
            }

            .work-item {
                max-width: 280px;
                flex: 0 0 auto;
                margin-bottom: 1rem;
                padding: 0 1rem;
                border-radius: 5px;

                h3 {
                    margin-bottom: 1rem;
                    font-size: 25px;
                    color: #6f6f6f;
                }
                p {
                    overflow-y: auto;
                    margin-bottom: 1rem;
                }
                a {
                    text-align: center;
                    background-color: $watermelon-red;
                    color: white;
                    padding: .5rem .25rem;
                    transition: background-color .2s linear;
                    
                    &:hover {
                        background-color: $watermelon-red-dark;
                    }
                }
            }
        }
    }
}