.portfolio-container {
    position: relative;
    height: 100vh;
    color: $dark-blue;

    @media #{$mobile-width} {
        background-color: #1c6ca5;
    }

    @media #{$medium-width} {
        padding: 1rem;
        background-color: $dark-blue;
    }

    .recent-work {
        padding: 20px;
        overflow: hidden;

        @media #{$mobile-width} {
            height: 100vh;
        }

        @media #{$medium-width} {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 90%;
            width: 90%;
            min-width: calc(250px + 2 * 20px); // title + padding both sides
        }

        h1 {
            font-size: 42px;
            margin-bottom: 1rem;
            color: $light-gray;
            text-align: center;
        }
        .work-list {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: stretch;
            margin: 0 .5rem;
            overflow-x: hidden;

            @media #{$mobile-width} {
                justify-content: center;
                max-height: 85%;
                overflow-y: auto;
            }

            @media #{$medium-width} {
                justify-content: space-around;
                max-height: 650px;
                padding: 2rem 1rem;
            }

            .work-item {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;
                max-width: 280px;
                margin-bottom: 1rem;
                background-color: $light-gray;
                color: $dark-blue;

                @media #{$mobile-width} {
                    max-width: 90%;
                }

                .title {
                    font-size: 25px;
                    margin-bottom: 1rem;
                    padding: .5rem 1rem;
                    background-color: $sky-blue;
                    color: $light-gray;
                }
                .content {
                    position: relative;
                    flex: 1 0 auto;

                    p {
                        padding: 0 1rem;
                        padding-bottom: 3rem;
                        overflow-y: auto;
                    }
                    a {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: .5rem .25rem;
                        text-align: center;
                        color: $light-gray;
                        background-color: $sky-blue;
                        transition: background-color .2s linear;
                        
                        &:hover {
                            background-color: $darker-sky-blue;
                        }
                    }
                }
            }
        }
    }
}