// Colors
$light-blue: rgba(202, 235, 255, 1);
$light-gray: #efefef;
$dark-text: #3a3a3a;
$light-text: #8a8a8a;
$watermelon-red: #75d18d;
$watermelon-red-dark: rgb(117, 194, 141);

// Widths, Media Queries...
$mobile-screen-width: "screen and (max-width: 720px)";
$tablet-screen-width: "screen and (min-width: 720px)";

// Sizes gotten from https://v4-alpha.getbootstrap.com/layout/grid/
$extra-small-width: "screen and (max-width: 539px)"; // 540px - 1px
$small-width: "screen and (min-width: 540px)";
$medium-width: "screen and (min-width: 720px)";
$large-width: "screen and (min-width: 960px)";
$extra-large-width: "screen and (min-width: 1140px)";

$mobile-width: "screen and (max-width: 719px)"; // 720px - 1px