// Colors
$light-gray: #efefef;
$link-color: #5fb7f9;

$dark-blue: #18547F;
$gray-blue: #3E647F;
$sky-blue: #30A7FF;
$darker-sky-blue: hsl(206, 100%, 54%);
$light-blue: #7CC8FF;
$blue: #2686CC;

// Widths, Media Queries...
$mobile-screen-width: "screen and (max-width: 720px)";
$tablet-screen-width: "screen and (min-width: 720px)";

// Sizes gotten from https://v4-alpha.getbootstrap.com/layout/grid/
$extra-small-width: "screen and (max-width: 539px)"; // 540px - 1px
$small-width: "screen and (min-width: 540px)";
$medium-width: "screen and (min-width: 720px)";
$large-width: "screen and (min-width: 960px)";
$extra-large-width: "screen and (min-width: 1140px)";

$mobile-width: "screen and (max-width: 719px)"; // 720px - 1px