// Utils
@import "variables";
@import "mixins";

.work-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-bottom: 6rem;
    background-color: $light-gray;
    color: $dark-blue;
    text-align: left;
    @media #{$mobile-width} {
        max-width: 90%;
    }
    &:not(:last-of-type):before {
        content: "";
        position: absolute;
        bottom: -3rem;
        left: 40%;
        height: 1px;
        width: 20%;
        border-bottom: 3px solid #efefef;
    }
    .content {
        position: relative;
        flex: 1 0 auto;
        .title {
            color: #efefef;
            font-size: 25px;
            padding: .5rem 1rem;
            background-color: $sky-blue;
        }
        .screenshot {
            color: $light-gray;
            width: 100%;
            margin-bottom: 1rem;
        }
        p,
        h4 {
            padding: 0 1rem;
            overflow-y: auto;
        }
        h4 {
            margin-bottom: .5rem;
        }
        p {
            margin-bottom: 1rem;
            &:last-of-type {
                margin-bottom: 3rem;
            }
        }
        a {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: .5rem .25rem;
            text-align: center;
            color: $light-gray;
            background-color: $sky-blue;
            transition: background-color .2s linear;
            &:hover {
                background-color: $darker-sky-blue;
            }
        }
    }
}